.taskModule {
    width: fit-content;

    .MuiFormControlLabel-root {
        padding-left: 5px;
    }

    .MuiTypography-body1 {
        font-size: 1.2rem !important;
        font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    }
    /*.inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }*/
    /*.senderTemplates > .ce {
        width: 100% !important;
    }*/

    .testDrop > ul {
        width: auto;
    }

    .testDrop > .cl {
        background-color: white;
    }

    .testDrop > .cm {
        border-radius: 0;
    }

    .testDrop > .an > .cu {
        overflow-y: unset !important;
    }

    .testDrop > .an > .cx {
        padding-right: 0 !important;
    }

    .textArea > .mr {
        resize: vertical !important;
    }

    .Templates {
        width: 100%;
        margin-inline-start: -15px;
    }

    .formContainer {
        position: absolute;
        top: 0rem;
        bottom: 8.4rem;
        width: 100%;

        .dropdownDiv {
            position: relative;
            display: inline-block;
        }

        .hr {
            font-weight: 100 !important;
        }


        .scrollableContent {
            overflow: auto;
            height: 100%;
            min-height: 100%;
            margin-inline-start: 3.2rem;

            h3 {
                font-size: 1.6rem;
                margin: 2rem 0 0 0;
            }

            h4 {
                margin: 0.6rem 3.2rem 1rem 3.2rem;
                font-size: 1.4rem;
                font-weight: 100;
            }

            .formContentContainer {
                margin-inline-end: 3.5rem;
                max-width: 446px;

                .ce {
                    width: 100%;
                }

                .inputField {

                    label {
                        font-size: 1.2rem;
                        display: block;
                        margin: 0.8rem 0rem 0.4rem 0rem;
                    }

                    input {
                        height: 3.2rem;
                        padding: 0.6rem 1.2rem;
                        font-size: 1.4rem;
                        margin: auto 0;
                    }

                    i {
                        bottom: 0.5rem;
                    }
                }

                .RTETool {
                    display: flex;
                    flex-flow: row nowrap;
                    padding: 0;
                    margin: 1rem;
                    overflow: hidden;
                    border-radius: 10px;
                }

                .testDrop {
                    //width: 100%;
                    border-radius: 0px;
                    display: block;

                    .ui-dropdown__container {
                        width: 100%;
                    }
                }


                .test2 {
                    display: inline-block;

                    span.MuiButtonBase-root {
                        vertical-align: bottom;
                    }
                }

                .textArea {

                    span {
                        //font-size: 1.2rem;
                        //display: block;
                        //margin: 0.8rem 0rem 0.4rem 0rem;

                        &:nth-child(2) {
                            color: #C4314B;
                        }
                    }

                    textarea {
                        height: 9.6rem;
                        padding: 0.6rem 1.2rem;
                        font-size: 1.4rem;
                        margin: auto 0;
                    }

                    i {
                        bottom: 2.5rem;
                    }
                }

                .hide {
                    display: none;
                }

                .show {
                    display: inline;
                }

                .radioBtns {
                    width: 70%;

                    p {
                        margin: 1.5rem 0rem;
                    }

                    .ui-dropdown {
                        margin: 0.6rem 0rem 0.6rem 2.5rem;
                        //width: 30rem;
                    }

                    .noteText {
                        margin: 1rem 0rem 1rem 2.5rem;
                    }

                    .hide {
                        display: none;
                    }

                    .hideToggle {

                        .ui-dropdown__toggle-indicator {
                            visibility: hidden;
                        }
                    }

                    .adaptiveCardContainer {
                        margin: 0 2rem;
                    }
                }

                .inputField2 {
                    //width: 90%;
                    /*label {
                        font-size: 1.2rem;
                        display: block;
                        margin: 0.8rem 0rem 0.4rem 0rem;
                    }

                    input {
                        height: 3.2rem;
                        padding: 0.6rem 1.2rem;
                        font-size: 1.4rem;
                        margin: auto 0;
                        display: inline-block;
                    }

                    i {
                        bottom: 0.5rem;
                    }

                    span {
                        display: inline-block;
                    }
                    .hide {
                        display: none;
                    }

                    .show {
                        display: inline;
                    }

                    .radioBtns {
                        width: 70%;

                        p {
                            margin: 1.5rem 0rem;
                        }

                        .ui-dropdown {
                            margin: 0.6rem 0rem 0.6rem 2.5rem;
                            width: 30rem;
                        }

                        .noteText {
                            margin: 1rem 0rem 1rem 2.5rem;
                        }

                        .hide {
                            display: none;
                        }

                        .hideToggle {

                            .ui-dropdown__toggle-indicator {
                                visibility: hidden;
                            }
                        }
                    }

                    .adaptiveCardContainer {
                        margin: 0 2rem;
                    }*/
                }
            }

            .footerContainer {
                position: fixed;
                bottom: 0;
                left: 0;
                padding: 2rem 0rem 3.2rem 0rem;
                width: 100%;

                .buttonContainer {
                    margin-inline-end: 3.2rem;

                    #saveBtn {
                        margin-inline-start: 0.8rem;
                    }
                }
            }
        }
    }

    .ms-Dropdown-container {
        margin: 0rem 0rem 1rem 0rem;

        .ms-Callout-main {
            max-height: 30rem !important;
        }
    }

    .is-checked {
        .ms-Checkbox-label {
            .ms-Checkbox-checkbox {
                background: #464775 !important;
                border: #464775 !important;
            }
        }
    }

    .formContainer1 {
        position: absolute;
        top: 0rem;
        bottom: 8.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;


        .scrollableContent {
            overflow: auto;
            height: 100%;
            min-height: 100%;
            margin-inline-start: 3.2rem;
            flex-direction: column;

            h3 {
                font-size: 1.6rem;
                margin: 2rem 0 0 0;
            }

            h4 {
                margin: 0.6rem 3.2rem 1rem 3.2rem;
                font-size: 1.4rem;
                font-weight: 100;
            }

            .formContentContainer {
                //margin-inline-end: 3.5rem;
                .ce {
                    width: 420px;
                }

                .inputField {

                    label {
                        font-size: 1.2rem;
                        display: block;
                        margin: 0.8rem 0rem 0.4rem 0rem;
                    }

                    input {
                        height: 3.2rem;
                        padding: 0.6rem 1.2rem;
                        font-size: 1.4rem;
                        margin: auto 0;
                    }

                    i {
                        bottom: 0.5rem;
                    }
                }

                .test2 {
                    display: inline-block;

                    span.MuiButtonBase-root {
                        vertical-align: bottom;
                    }
                }

                .inputField2 {
                    width: 90%;

                    label {
                        font-size: 1.2rem;
                        display: block;
                        margin: 0.8rem 0rem 0.4rem 0rem;
                    }

                    input {
                        height: 3.2rem;
                        padding: 0.6rem 1.2rem;
                        font-size: 1.4rem;
                        margin: auto 0;
                        display: inline-block;
                    }

                    i {
                        bottom: 0.5rem;
                    }

                    span {
                        display: inline-block;
                    }
                }



                .textArea {

                    span {
                        font-size: 1.2rem;
                        display: block;
                        margin: 0.8rem 0rem 0.4rem 0rem;

                        &:nth-child(2) {
                            color: #C4314B;
                        }
                    }

                    textarea {
                        height: 9.6rem;
                        padding: 0.6rem 1.2rem;
                        font-size: 1.4rem;
                        margin: auto 0;
                    }

                    i {
                        bottom: 2.5rem;
                    }
                }

                .hide {
                    display: none;
                }

                .show {
                    display: inline;
                }

                .radioBtns {
                    width: 70%;

                    p {
                        margin: 1.5rem 0rem;
                    }

                    .ui-dropdown {
                        margin: 0.6rem 0rem 0.6rem 2.5rem;
                        width: 30rem;
                    }

                    .noteText {
                        margin: 1rem 0rem 1rem 2.5rem;
                    }

                    .hide {
                        display: none;
                    }

                    .hideToggle {

                        .ui-dropdown__toggle-indicator {
                            visibility: hidden;
                        }
                    }
                }


                .adaptiveCardContainer {
                    //margin: 0 2rem;
                    //width: 436px !important;
                }
            }

            .footerContainer {
                position: fixed;
                bottom: 0;
                left: 0;
                padding: 2rem 0rem 3.2rem 0rem;
                width: 100%;

                .buttonContainer {
                    margin-inline-end: 3.2rem;

                    #saveBtn {
                        margin-inline-start: 0.8rem;
                    }
                }
            }
        }
    }
}
